<!DOCTYPE html">
<html data-theme="homeship">
    <head>
        <title>{{ title }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">
        <link href="/static/styles/styles.css" rel="stylesheet">
        <link href="/static/styles/main.css" rel="stylesheet">

        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/htmx_json_enc.js"></script>
        <script src="/static/js/htmx_ext_response_targets.js"></script>
        <script defer src="/static/js/alpine.min.js"></script>
        <script src="/static/js/event_handler.js"></script>
        
    </head>
    <body  x-data="{ sidebarOpen: false }" class="leading-normal tracking-normal text-gray-900" style="font-family: 'Domine', sans-serif; font-weight: 700; font-optical-sizing: auto; font-style: normal;">
        <div class="float-root">
            <div class="float-left flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800">
                <div  x-show="sidebarOpen" class="z-10 fixed flex flex-col top-0 left-0 w-64 bg-white h-full">
                    <div class="flex items-center justify-center h-14 border-b">
                        <a class="flex items-center text-yellow-500 no-underline hover:no-underline font-bold text-md lg:text-xl"  href="#"> 
                            <img src ="/static/images/house-traditional.svg" width="23" /> <p class="p-2">{{ appName }}</p>
                        </a>
                    </div>
                    <div class="overflow-y-auto overflow-x-hidden flex-grow">
                        <ul class="flex flex-col py-4 space-y-1">
                        {{ for group of navLinks }}

                            <li class="px-5 pt-4">
                                <div class="flex flex-row items-center">
                                    <div class="text-xs font-mute tracking-wide text-gray-500 uppercase tracking-wider">{{ group.group }}</div>
                                </div>
                            </li>
                            {{ for link of group.links }}
                            <li>
                                <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-yellow-500 pr-6">
                                <span class="inline-flex justify-center items-center ml-4">
                                    <img src="/static/images/main-nav-links/{{ link.icon }}.svg" width="20" height="20" />
                                </span>
                                <span class="ml-2 text-sm tracking-wide truncate">{{ link.name }}</span>
                                <!-- span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full">New</span -->
                                </a>
                            </li>
                            {{ /for }}
                        {{ /for }}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200">
            <div class="px-3 py-3 lg:px-5 lg:pl-3">
                <div class="flex items-center justify-between">
                    <div class="flex items-center justify-start rtl:justify-end md:hidden">
                        <button x-on:click="sidebarOpen = ! sidebarOpen" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                            <span class="sr-only"> Open </span>
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="justify-start m-1 pl-4">
                        <a class="flex items-center text-yellow-500 no-underline hover:no-underline font-bold text-md lg:text-xl"  href="#"> 
                            <img src ="/static/images/house-traditional.svg" width="23" /> <p class="p-2">{{ appName }}</p>
                        </a>
                    </div>
                    <div class="flex items-center">
                        <div x-data="{ openSettings: false }" class="z-50 flex items-center ms-3">
                            <div>
                                <button x-on:click="openSettings = ! openSettings" type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-2 focus:ring-accent">
                                    <span class="sr-only">Open user menu</span>
                                    <div class="avatar avatar-placeholder">
                                        <div class="bg-neutral text-neutral-content w-10 rounded-full">
                                            <span class="text-md">{{ user?.first_name.at(0) + user.last_name.at(0) }}</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div x-show="openSettings" @click.outside="openSettings = false"
                                class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow" style="position: absolute; right: 8; top: 40;">
                                <div class="px-4 py-3" role="none">
                                    <p class="text-sm text-gray-900" role="none">
                                        {{ user.first_name }}
                                    </p>
                                </div>
                                <ul class="py-1" role="none">
                                    <li>
                                        <a href="/app/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Profile</a>
                                    </li>
                                    <li>
                                        <a href="/app/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
                                    </li>
                                    <li>
                                        <a hx-post="/app/logout" HX-Redirect class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <aside id="logo-sidebar" class="z-20 fixed top-0 left-0 z-40 w-64 h-screen pt-16 transition-transform -translate-x-full bg-white sm:translate-x-0" aria-label="Sidebar">
            <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
                    <ul class="flex flex-col py-4 space-y-1">
                    {{ for group of navLinks }}

                        <li class="px-5 pt-4">
                            <div class="flex flex-row items-center">
                                <div class="text-xs font-mute tracking-wide text-gray-500 uppercase tracking-wider">{{ group.group }}</div>
                            </div>
                        </li>
                        {{ for link of group.links }}
                        <li>
                            <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-500 hover:text-gray-600 border-l-4 border-transparent hover:border-yellow-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <img src="/static/images/main-nav-links/{{ link.icon }}.svg" width="20" height="20" />
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">{{ link.name }}</span>
                            <!-- span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-indigo-500 bg-indigo-50 rounded-full">New</span -->
                            </a>
                        </li>
                        {{ /for }}
                    {{ /for }}
                    </ul>
            </div>
        </aside>



        <div class="sm:ml-64">
            <div x-data="{showAlert:false, message: null, type: null, iconDraw: null}" 
                @show-alert.window="showAlert=true; message=$event.detail.message; type=$event.detail.type; iconDraw=$event.detail.iconDraw" class="relative z-50 h-16 w-5/6 mt-2 ml-10"
                >
                <div x-show="showAlert" x-effect="if (showAlert) setTimeout(function() {showAlert = false}, 3000)" x-transition:leave.duration.800ms x-cloak role="alert" :class="'alert alert-soft rounded-sm alert-' + type">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="iconDraw"></path>
                    </svg>
                    <span x-text="message"></span>
                </div>
            </div>
            <div class="p-8 rounded-lg bg-white pt-4">
                {{ content }}
            </div>
        </div>


    </body>
</html>