# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno then run `deno lint` and `deno test`.
# For more information see: https://github.com/denoland/setup-deno

name: Deno

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          
      - name: Install Dependencies
        run: "deno install"

      - name: Generate db schema step
        run: "deno task db:generate"

      - name: Migrate db schema step
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: "deno task db:migrate"

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        env:
          APP_NAME: ${{ vars.APP_NAME }}
          APP_TITLE: ${{ vars.APP_TITLE }}
        with:
          project: ""
          entrypoint: "main.ts"
          root: "."
